footer(class = "b-page__footer")
    div(class="social__footer")
        h3(class = "heading") Соц сети:
        p(class = "text__social") Мой инстаграмм-
            a(class ="link__social", href="", target="_blank")
                | переходи

        p(class = "text__social") Мой Tg-
            a(class = "link__social", href="", target="_blank")
                | переходи

    div(class="footer_logo")
        figure(class figure__footer)
            img(src="https://img2.goodfon.ru/original/1280x800/f/38/kot-persidskiy-chernyy-koshka.jpg", width="250", height="150")
            p(id="demo") ms + #{time} ms (server)
    div(class = "float_clear")
    script(src="JS/AnimScroll.js")
    script(src = "JS/ActiveMenu.js")
